[submodule "flashcard-egg"]
	path = flashcard-egg
	url = git@github.com:NgeKaworu/flashcard-egg.git
[submodule "flashcard-umi"]
	path = flashcard-umi
	url = git@github.com:NgeKaworu/flashcard-umi.git
